body{margin: 0;
}
.cabeca{
    display: flex;
    height: 10vh;
    width: 203.2vh;
    background-color: red;
}
.nav{display: flex;
    list-style: none;
    justify-content: end      ;
    gap:200px;
}
.logo{margin-top: -2.2vh;}
.logo img{height: 10vh;}
.pages a{color: #fff;
font-size: 14px;}
.pagina-inicial{
height: 100vh;

}
.inicial{display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    
list-style: none;}

.hamburgue img{height: 300px;}

.welcome{text-align: center;

font-size: 32px;
color: #FF0505;
font-family: Arial, Helvetica, sans-serif;

}
.bora img{height: 300px;
}
.click{text-decoration: none;
color: #fff;}
.pagina-QUEMSOMOS{height: 100VH;}   
.click{text-decoration: none;
    color: #fff;}
    h1{ text-align: center;
        color: #FF2121;
    font-size:32px ;}

        .p-QUEMSOMOS{color: #ff2121;
        text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;}
    .img-QUEMSOMOS{list-style: none;
    display: flex;
    gap: 300px;
justify-content: center;}
    .imgpagina-QUEMSOMOS img {
        height: 380px    ;
    }
    .pagina-buscar{height: 100vh;}
    svg{height: 16px;}
    .svg-buscar{text-align: center;}
    .nav-busca{display: flex;
        gap: 20px;
         justify-content: center;
        margin-top: 200px;
     border-radius: 2px;}
        .buscar{border-radius: 2px;
        width: 400px;
    height: 30px;}
    .lupa-barra{list-style: none;
        border-radius: 2px;
       
        }
        .lupa-barra svg{ fill: #FF0505;}
    .grid1{ grid-template-columns: 1fr 1fr 1fr;
    margin-left: 200px;}
    
    .grid1{display: grid;}
    .grid img{height: 200px;}
    .P-CONTATO{color: #FF0505;
    text-align: center;
font-size: 22px;}
.CONTATO{height: 500px;
width: 1000px;
font-size: 15px;
}
.div-btn{display: flex;
justify-content: center ;}
.button{width: 90PX;
height: 30px;
background-color: #FF0505;
color: aliceblue;
}
.caixa-de-menssagem{display: flex;
    justify-content: center;
}
.icons-contato{grid-template-columns: 1fr 1fr 1fr;
display: grid;
justify-items: center;
margin-top: 30px;
}
.icons svg {height: 40px;}
.whats{color: #FF0505;
font-size: 16px;
display: flex
}
.Email{color: #FF0505;
font-size: 16px;
display: flex;}
.tell{color: #FF0505;
font-size: 16px;
display: flex;}
.P-Cadastro{color: #FF0505;
    font-size: 17px;
    margin-left: 30px ;
}
.P-Subtitulo{color: #FF0505;
text-align: center;
font-size: 18px;}
.list{color: #FF0505;
list-style: none;
line-height:80px
}
.btn{display: flex ;
    justify-content: center;
}
.butao{color: #FF0505;
background-color: aliceblue;}
.img-cadastro{    display:flex ;
    justify-content: center;
    margin-top: -400px;
}
.img-cadastro img{height: 400px;
}

.fundo{height: 700px;
justify-content: center;
background-color:#D9D9D9 ;
display: flex;
align-items: center;

}
.pedidos{line-height: 50PX;
list-style: none;
}
.butao-pedidos input{ width: 100px;
height: 30px; 
color: #FF0505  ;}
.butao-pedidos{line-height: 80px;
list-style: none;}
.total{color: #FF0505;}
.hamb{width: 283PX;}
.refri{width: 277px;}